@using ArsaRExCH.Model
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@inject NavigationManager Navigation
@inject ArsaRExCH.Interface.ITrade _tradeInterface
@inject ArsaRExCH.Interface.WalletInterface<double> _walletInterface
@rendermode InteractiveServer
@inject AuthenticationStateProvider _AuthenticationStateProvider
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims


<div style="display: flex; width: 100%;">
    <div style="flex: 0 0 70%; height: 400px;">
        <ArsaRExCH.Components.Chartss.TradingViewChart></ArsaRExCH.Components.Chartss.TradingViewChart>
    </div>

    <div id="additional-content" style="flex: 0 0 30%; height: 400px; background-color: lightblue">
        <h5>Orders show here All</h5>
    </div>
</div>
<h5><b>@tradeModel.TradePair</b></h5>
<div style="display: flex;">
    <div style="width: 20%; margin-right: 10px;">
        <EditForm Model="@tradeModel" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="symbolI">BTC Amount</label>
                <InputNumber id="symbolI"
                             class="form-control"
                             @bind-Value="tradeModel.symbolI"/>
            </div>
            <p>Available Balance to swap : @AvailableBtcAmountToSwap</p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>

        

    </div>

    <div style="width: 30%; background-color: white; border: 1px solid #ccc; border-radius: 5px; padding: 20px;height:200px">
        <!-- Content for the white paper styled div goes here -->
        <p>
            Btc To swap :@BtcToswapInclude
        </p>
        <p>To Get :@EstimatedUsdtToGetInCludeFee USDT </p>
        <p>Fee : @feeFromDbCall.ToString("F9")</p>
    </div>
</div>
<button type="button" class="btn btn-primary" @onclick="CalcuateUsdtGet">Calculate</button>
<p>@btcPriceVariable</p>
<p>@ErrorMessage</p>

@code {
    private Trade tradeModel = new Trade();
    public string ErrorMessage { get; set; }
    public string user2{ get; set; }
    public double feeFromDbCall{ get; set; }
    public double EstimatedUsdtToGetInCludeFee { get; set; }
    private string btcPriceVariable;
    private string ethPriceVariable;
    public double BtcToswapInclude { get; set; }
    public double AvailableBtcAmountToSwap { get; set; }

    [CascadingParameter(Name = "EthPrice")]
    public string EthPrice { get; set; }
    [CascadingParameter(Name = "BtcPrice")]
    public string BtcPrice { get; set; }





    private async Task CalcuateUsdtGet()
    {

        var tt = ConvertStringToDouble(BtcPrice);
        var usdtBAck = tradeModel.symbolI * tt;
        EstimatedUsdtToGetInCludeFee = usdtBAck;

        BtcToswapInclude = tradeModel.symbolI - feeFromDbCall;

    }

    private async Task HandleValidSubmit()
    {
        if (tradeModel.symbolI > AvailableBtcAmountToSwap)
        {
            ErrorMessage = "Not Enough Balance Available";
            return;
        }

        var trade = new Trade
            {
                TradeId = Guid.NewGuid().ToString(), // Generate a new TradeId
                TradePair = PairNames.BTCUSDT, // Example value
                dateTime = DateTime.Now, // Current date and time
                symbolI = tradeModel.symbolI, // Bound model
                SymbolII = EstimatedUsdtToGetInCludeFee, // Bound model
                TradeFee = feeFromDbCall, //call db for dynamic trading fee
                IsMarketBuy = true,
                IsTradeDone = false,
                MyProperty = "sdsdsd",
                ApplicationUserId =user2, // Example value
                BitcoinPoolId = 15 // Example value call db for real one
            };

        // Save the trade to the database
        try
        {
            await _tradeInterface.SaveTrade(trade);
            ErrorMessage = "Trade added successfully!";
            await _walletInterface.EditWalletAmountDecrease(user2, tradeModel.symbolI);
            tradeModel = new Trade();
            AvailableBtcAmountToSwap = await _walletInterface.GetBTCBalanceOfWallet(user2);


        }
        catch (Exception ex)
        {
            // Handle exceptions
            ErrorMessage = "An error occurred while saving the trade.";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Check if the user is logged in and fetch their information
        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity?.IsAuthenticated ?? false)
        {
            user2 = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;

            tradeModel.TradePair = PairNames.BTCUSDT;
            AvailableBtcAmountToSwap = await _walletInterface.GetBTCBalanceOfWallet(user2);
            feeFromDbCall = await _tradeInterface.GetTradeFee();

        }

    }

        

    
    protected override void OnParametersSet()
    {
        btcPriceVariable = BtcPrice;
        ethPriceVariable = EthPrice;

        // Debugging output
        Console.WriteLine($"BTC Price received: {btcPriceVariable}");
        Console.WriteLine($"ETH Price received: {ethPriceVariable}");
    }
    public double ConvertStringToDouble(string input)
    {
        if (string.IsNullOrWhiteSpace(input))
        {
            Console.WriteLine("Input string is null or empty.");
            return 0; // Or throw an exception based on your requirements
        }

        double result;
        if (double.TryParse(input, out result))
        {
            return result; // Conversion successful
        }
        else
        {
            Console.WriteLine($"Invalid format for double conversion: '{input}'");
            return 0; // Or throw an exception, or handle as needed
        }
    }

}