@page "/AdminPanel"
@using ArsaRExCH.Data
@using ArsaRExCH.Extentionss
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavigationManager
@using System.Security.Claims
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject HttpClient Http
@using System.Text.Json
@using Microsoft.AspNetCore.Identity
@inject ArsaRExCH.Interface.AdministrationInterface _adminInterface
@inject IHttpContextAccessor HttpContextAccessor

@if (currentUserRole == "Admin")
{
    <div>
        <h4>Administration Page</h4>
        <div class="grid-container">
            @for (int i = 0; i < divNames.Length; i++)
            {
                <div class="grid-item">
                    @divNames[i] <a href="@links[i]">@links[i]</a>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>You do not have access to the administration page.</p>
}

<style>
    .grid-container {
        display: grid; /* Use CSS Grid layout */
        grid-template-columns: repeat(5, 1fr); /* 5 columns of equal width */
        gap: 20px; /* Space between grid items */
        margin-bottom: 20px; /* Space between rows */
    }

    .grid-item {
        background-color: lightblue; /* Background color for each div */
        padding: 20px; /* Padding inside each div */
        text-align: center; /* Center text */
        border-radius: 5px; /* Rounded corners */
        height: 100px; /* Fixed height for each div */

    }

        .grid-item:hover {
        transform: scale(1.05);
        background-color:lightyellow;
    }
</style>
<p>Is admin :@currentUserRole</p>
<p>@isAdmin</p>
<p>@useremail</p>
@code {
    private string user2 { get; set; }
    private string currentUserRole;
    private bool isAdmin;
    private string useremail;
    private string[] divNames = new string[]
    {
        "", "", "", "", "",
        "Div Six", "Div Seven", "Div Eight", "Div Nine", "Div Ten",
        "Div Eleven", "Div Twelve", "Div Thirteen", "Div Fourteen", "Div Fifteen"
    };

    private string[] links = new string[]
    {
        "BannedCountry", "UserInformation", "Pair", "BetListAdmin", "RoleManagerAdmin",
        "AirDropFaq", "AdminPost", "PoolAdmin", "BitcoinPoolOneUsers", "/SetupExchangeWallet",
        "/Coupon", "/page12", "/page13", "/page14", "/page15"
    };

    protected override async Task OnInitializedAsync()
    {
        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();

        var user = authState.User;
     
        if (user.Identity?.IsAuthenticated ?? false)
        {
            // Check if the user is an admin directly here

            user2 = HttpContextAccessor.HttpContext.GetUserId();
            var roles = await _adminInterface.GetUserRolesAsync(user);
            // var roles = user.FindAll(ClaimTypes.Role).Select(c => c.Value).ToList();
            isAdmin = roles.Contains("Admin");
            currentUserRole = roles.FirstOrDefault();
             
        }
    }
}

