@attribute [Authorize(Roles = "Admin")]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavigationManager
@using System.Security.Claims
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject HttpClient Http
@using System.Text.Json
@inject ArsaRExCH.Interface.WalletInterface<double> _interface
@using ArsaRExCH.DTOs
@using ArsaRExCH.Components.AdminComponents

@if (wallets == null)
{
    <p>Loading...</p>
}
else if (!wallets.Any())
{
    <p>No wallets found for the current user.</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Currency</th>
                    <th>Address</th>
                    <th>Network</th>
                    <th>Current Balance</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var wallet in wallets)
                {
                    <tr>
                        <td>@wallet.PairName</td>
                        <td>@wallet.Adress</td>
                        <td>@wallet.Network</td>
                        <td>@wallet.CurrentBalance</td>
                        <td>@wallet.Amount</td>
                        <td>Action need</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@code {
    [Parameter]
    public string id { get; set; }
    private List<WalletDTO>? wallets { get; set; } = new List<WalletDTO>();
    public string? user2 { get; set; }
    protected override async Task OnInitializedAsync()
    {
        // Check if the user is logged in and fetch their information
        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity?.IsAuthenticated ?? false)
        {
            user2 = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
            wallets = await _interface.GetWalletsListed(id);


        }

    }

}